In [2]:
#!pip install datapackage --upgrade
#!pip install yfinance --upgrade --no-cache-dir

Collecting datapackage
  Downloading datapackage-1.15.2-py2.py3-none-any.whl (85 kB)
     |████████████████████████████████| 85 kB 2.6 MB/s eta 0:00:01
Requirement already satisfied: click>=6.7 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from datapackage) (8.0.4)
Requirement already satisfied: unicodecsv>=0.14 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from datapackage) (0.14.1)
Collecting jsonpointer>=1.10
  Downloading jsonpointer-2.3-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: six>=1.10 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from datapackage) (1.16.0)
Requirement already satisfied: requests>=2.8 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from datapackage) (2.26.0)
Requirement already satisfied: chardet>=3.0 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from datapackage) (4.0.0)
Requirement already satisfied: jsonschema>=2.5 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from datapackage) (3.2.0)
Collecting tabulator>=1.29
  Downloading tabulator-1.53.5-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 3.1 MB/s  eta 0:00:01
Collecting tableschema>=1.12.1
  Downloading tableschema-1.20.2-py2.py3-none-any.whl (68 kB)
     |████████████████████████████████| 68 kB 8.3 MB/s eta 0:00:011
Requirement already satisfied: setuptools in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.5->datapackage) (58.0.4)
Requirement already satisfied: attrs>=17.4.0 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.5->datapackage) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.5->datapackage) (0.18.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.8->datapackage) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.8->datapackage) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.8->datapackage) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.8->datapackage) (2.0.4)
Collecting rfc3986>=1.1.0
  Downloading rfc3986-2.0.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: cached-property>=1.5 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 2.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from tableschema>=1.12.1->datapackage) (2.8.2)
Requirement already satisfied: sqlalchemy>=0.9.6 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from tabulator>=1.29->datapackage) (1.4.22)
Collecting linear-tsv>=1.0
  Downloading linear-tsv-1.1.0.tar.gz (9.6 kB)
Requirement already satisfied: openpyxl>=2.6 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from tabulator>=1.29->datapackage) (3.0.9)
Collecting ijson>=3.0.3
  Downloading ijson-3.1.4-cp39-cp39-macosx_10_9_x86_64.whl (52 kB)
     |████████████████████████████████| 52 kB 6.2 MB/s  eta 0:00:01
Collecting jsonlines>=1.1
  Downloading jsonlines-3.0.0-py3-none-any.whl (8.5 kB)
Requirement already satisfied: xlrd>=1.0 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from tabulator>=1.29->datapackage) (2.0.1)
Collecting boto3>=1.9
  Downloading boto3-1.21.43-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 11.6 MB/s eta 0:00:01
Collecting botocore<1.25.0,>=1.24.43
  Downloading botocore-1.24.43-py3-none-any.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 2.7 MB/s eta 0:00:01     |██▌                             | 665 kB 9.5 MB/s eta 0:00:01
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.2-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 2.2 MB/s eta 0:00:01
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.0-py3-none-any.whl (23 kB)
Requirement already satisfied: et-xmlfile in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/melissayu/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.9.6->tabulator>=1.29->datapackage) (1.1.1)
Building wheels for collected packages: linear-tsv
  Building wheel for linear-tsv (setup.py) ... done
  Created wheel for linear-tsv: filename=linear_tsv-1.1.0-py3-none-any.whl size=7399 sha256=e59c682bf184ed2baca4e79869e794ed60afd346ddc341432c1b1e7e18d349af
  Stored in directory: /Users/melissayu/Library/Caches/pip/wheels/b5/eb/b6/e409f80d7fec532e4240dda9562cad374257d2dd010b40cfff
Successfully built linear-tsv
Installing collected packages: jmespath, botocore, s3transfer, linear-tsv, jsonlines, ijson, boto3, tabulator, rfc3986, isodate, tableschema, jsonpointer, datapackage
Successfully installed boto3-1.21.43 botocore-1.24.43 datapackage-1.15.2 ijson-3.1.4 isodate-0.6.1 jmespath-1.0.0 jsonlines-3.0.0 jsonpointer-2.3 linear-tsv-1.1.0 rfc3986-2.0.0 s3transfer-0.5.2 tableschema-1.20.2 tabulator-1.53.5

# This file is for data preparation. It is not necessary to run, since the files we used for analysis are already exported.
The reason is that a free API key can only get 100 companies's news, so I tried 6 different api keys. 
However, If running, it requires a lot of time and for every 100 companies you need to change a api key, 
which I listed below.

In [1]:
import datapackage
import pandas as pd

data_url = 'https://datahub.io/core/s-and-p-500-companies/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]
    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [3]:
company_list = list(data.Name)
symbol_list = list(data.Symbol)

In [5]:
import yfinance as yf
import pandas as pd

stock = pd.DataFrame()

for name in symbol_list:
    ticker_object = yf.Ticker(name)
    ticker_object_historical = ticker_object.history(start="2022-03-20", end="2022-04-20")
    ticker_object_historical['Symbol'] = name
    stock = stock.append(ticker_object_historical)

- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- INFO: No data found, symbol may be delisted
- KSU: No data found, symbol may be delisted
- VIAC: No data found, symbol may be delisted
- WLTW: No data found, symbol may be delisted
- XLNX: No data found, symbol may be delisted

In [ ]:
#6 month data for future use
#for name in symbol_list:
    #ticker_object = yf.Ticker(name)
    #ticker_object_historical = ticker_object.history(start="2021-10-20", end="2022-04-20")
    #ticker_object_historical['Symbol'] = name
    #stock = stock.append(ticker_object_historical)

The output generated above shows that the data of six companies were not found:

- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- INFO: No data found for this date range, symbol may be delisted
- KSU: No data found, symbol may be delisted
- WLTW: No data found, symbol may be delisted
- XLNX: No data found, symbol may be delisted

So we manual insert these six companies into our database
The reason that it doesn't insert is that the symbol is different
Symbol in yfinance referring to the first two companied should be converted from ("BRK.B", "BF.B") to ("BRK-B", "BF-B")
Yahoo Finance official website do not provide the stock price data of the other four companies in the last month, 
so we excluded these four companies

In [6]:
stock1 = pd.DataFrame(stock)

In [7]:
#1 month for our demo
delisted_symbol = ("BRK-B", "BF-B")
stock2 = pd.DataFrame()
for ticker in delisted_symbol:
    ticker_object = yf.Ticker(ticker)
    ticker_object_historical = ticker_object.history(start="2022-03-20", end="2022-04-20")
    ticker_object_historical['Symbol'] = ticker
    stock2 = stock2.append(ticker_object_historical)
stock1 = stock1.append(stock2)

In [ ]:
#6 months maybe in the future
#delisted_symbol = ("BRK-B", "BF-B")
#stock2 = pd.DataFrame()
#for ticker in delisted_symbol:
    #ticker_object = yf.Ticker(ticker)
    #ticker_object_historical = ticker_object.history(start="2021-10-20", end="2022-04-20")
    #ticker_object_historical['Symbol'] = ticker
    #stock2 = stock2.append(ticker_object_historical)
#stock1 = stock1.append(stock2)

In [8]:
stock1

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,Adj Close
Date,,,,,,,,,
2022-03-21,148.690002,149.740005,147.399994,148.580002,4514900.0,0.0,0.0,MMM,NaN
2022-03-22,149.449997,150.839996,148.500000,149.940002,4252000.0,0.0,0.0,MMM,NaN
2022-03-23,149.690002,149.779999,147.559998,147.679993,2637200.0,0.0,0.0,MMM,NaN
2022-03-24,148.119995,149.229996,147.399994,148.979996,2028100.0,0.0,0.0,MMM,NaN
2022-03-25,149.270004,151.179993,148.910004,150.460007,2247800.0,0.0,0.0,MMM,NaN
...,...,...,...,...,...,...,...,...,...
2022-04-12,68.269997,68.970001,67.879997,68.239998,1196200.0,0.0,0.0,BF-B,NaN
2022-04-13,68.010002,69.089996,67.550003,68.919998,1136300.0,0.0,0.0,BF-B,NaN
2022-04-14,69.239998,69.800003,68.290001,68.500000,4782200.0,0.0,0.0,BF-B,NaN
2022-04-18,68.349998,68.699997,67.160004,67.459999,1334500.0,0.0,0.0,BF-B,NaN
2022-04-19,67.459999,68.400002,67.309998,68.029999,1545500.0,0.0,0.0,BF-B,NaN

In [9]:
stock1 = stock1.reset_index()
stock1 = stock1.filter(items=['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume'])

In [10]:
stock1

,Symbol,Date,Open,High,Low,Close,Volume
0,MMM,2022-03-21,148.690002,149.740005,147.399994,148.580002,4514900.0
1,MMM,2022-03-22,149.449997,150.839996,148.500000,149.940002,4252000.0
2,MMM,2022-03-23,149.690002,149.779999,147.559998,147.679993,2637200.0
3,MMM,2022-03-24,148.119995,149.229996,147.399994,148.979996,2028100.0
4,MMM,2022-03-25,149.270004,151.179993,148.910004,150.460007,2247800.0
...,...,...,...,...,...,...,...
10482,BF-B,2022-04-12,68.269997,68.970001,67.879997,68.239998,1196200.0
10483,BF-B,2022-04-13,68.010002,69.089996,67.550003,68.919998,1136300.0
10484,BF-B,2022-04-14,69.239998,69.800003,68.290001,68.500000,4782200.0
10485,BF-B,2022-04-18,68.349998,68.699997,67.160004,67.459999,1334500.0
10486,BF-B,2022-04-19,67.459999,68.400002,67.309998,68.029999,1545500.0

In [11]:
stock1.to_csv('stock_price.csv',index=False)

In [ ]:
#6months
#stock1.to_csv('stock_price_6_month.csv',index=False)

# We have tried 6 different api keys because one free api key can only extract 100 companies, so you can replace the following apiKey in the area of "apiKey=".
'52130cd4c70747e3baaa9b6068ccf32f'
'bbb9fbdfe2684646a44b963c18a0a1c4'
'eafdaf97cf464efaa9025bb8426d01d6'
'60d2e3e6d29846818a60c9311bea67bc'
'20d1e88062794c63a20b9d76f23c9d16'
'2c95544c1f62467dac17e3dd1988e848'

In [279]:
def get_company_news(company_name):
 
    try:
        # Get store review count
        response = requests.request('GET', 'https://newsapi.org/v2/everything?'
       'q=%s&'
       'from=2022-03-22&'
       'sortBy=popularity&'
       'apiKey=20d1e88062794c63a20b9d76f23c9d16' % (company_name,))
        data = response.json()
        for i in data["articles"][:20]:
            i["company"] = company_name
        
        return data["articles"][:20]
    
    except:
        dic = {}
        list1 = []
        dic["company"] = company_name
        dic["description"] = "No data found"
        list1.append(dic)
        
        return list1
    
#url = ('https://newsapi.org/v2/everything?q=apple&from=2022-03-22&sortBy=popularity&apiKey=f45df9d527394ef7bb01677f475c7951')

In [239]:
#First 100 companies
news = []
for company in company_list[0:100]:
    news = news + get_company_news(company)

In [252]:
#second 100 companies
news1 = []
for company in company_list[100:200]:
    news1 = news1 + get_company_news(company)

In [266]:
#third 100 companies
news2 = []
for company in company_list[200:300]:
    news2 = news2 + get_company_news(company)

In [270]:
#fourth 100 companies
news3 = []
for company in company_list[300:400]:
    news3 = news3 + get_company_news(company)

In [276]:
#fifth 100 companies
news4 = []
for company in company_list[400:500]:
    news4 = news4 + get_company_news(company)

In [280]:
#last few companies
news5 = []
for company in company_list[500:]:
    news5 = news5 + get_company_news(company)

In [240]:
len(news)

979

In [247]:
len(news1)

1000

In [253]:
len(news2)

991

In [258]:
len(news3)

991

In [267]:
len(news4)

1944

In [271]:
len(news5)

1987

In [2]:
news_data = news + news1 + news2 + news3 + news4 + news5

NameError: name 'news' is not defined

In [1]:
len(news_data)

NameError: name 'news_data' is not defined

In [290]:
records = json.dumps(news_data, indent = 4)

In [291]:
with open("news.json", "w") as outfile:
    outfile.write(records)

In [4]:
import json
with open('news.json') as f:
    news = json.load(f)
print(len(news))

9950

In [323]:
from elasticsearch import Elasticsearch
from elasticsearch_dsl import connections
from elasticsearch.helpers import bulk
from elasticsearch_dsl import Search
from elasticsearch_dsl import Q
from pprint import pprint
from datetime import datetime

In [324]:
client = Elasticsearch(hosts=["localhost"],
                     port=9200, 
                     http_auth=('elastic', '123456'), 
                     ca_certs='http_ca.crt',
                     use_ssl=True, 
                     verify_certs=True)

In [325]:
from elasticsearch.helpers import bulk
resp = bulk(client, news, index = 'news')

In [327]:
s = Search(using=client, index="news") \
        .query("match", company="Apple")

el_response = s.execute() # by default you get 10 hits

for hit in el_response['hits']['hits']:
    pprint(hit['_source'].to_dict())

{'author': 'Khamosh Pathak',
 'company': 'Apple',
 'content': 'HEIC is a solid format for Apple devices. It includes Live '
            'Photos, Apples post-processing, and it still manages to weigh way '
            'below what a JPG would. While it works fine if youre sharing a '
            'photo among… [+2667 chars]',
 'description': 'HEIC is a solid format for Apple devices. It includes Live '
                'Photos, Apple’s post-processing, and it still manages to '
                'weigh way below what a JPG would. While it works fine if '
                'you’re sharing a photo among other Apple devices, you run '
                'into a problem when you need…',
 'publishedAt': '2022-04-13T15:00:00Z',
 'source': {'id': None, 'name': 'Lifehacker.com'},
 'title': 'The Fastest Ways to Convert Your iPhone HEIC Photos to JPG (So You '
          'Can Actually Use Them)',
 'url': 'https://lifehacker.com/the-fastest-ways-to-convert-your-iphone-heic-photos-to-1848768694',
 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/721db943decd9d7c6a3eb1c569106ae7.jpg'}
{'author': 'Jake Peterson',
 'company': 'Apple',
 'content': 'I use Apple Pay for everything. Its fast, secure, and best of all '
            'it gives me 2% cash back on my Apple Card. However, some stores '
            'dont stop at 2% cash backparticipating retailers offer 3%. So if '
            'you … [+2783 chars]',
 'description': 'I use Apple Pay for everything. It’s fast, secure, and best '
                'of all it gives me 2% cash back on my Apple Card. However, '
                'some stores don’t stop at 2% cash back—participating '
                'retailers offer 3%. So if you want to squeeze every cent of '
                'credit card rewards you can…',
 'publishedAt': '2022-04-20T20:00:00Z',
 'source': {'id': None, 'name': 'Lifehacker.com'},
 'title': 'Every Store You Can Get 3% Cash Back With Your Apple Card',
 'url': 'https://lifehacker.com/every-store-you-can-get-3-cash-back-with-your-apple-ca-1848818805',
 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/1a24c2356cb86542a938483ea357be6a.jpg'}
{'author': 'Khamosh Pathak',
 'company': 'Apple',
 'content': 'Every computer develops some cruft over time: the small app you '
            'installed years ago and forgot about, or a cleaning utility you '
            'downloaded when you wanted to free up some space, but is still '
            'running … [+3750 chars]',
 'description': 'Every computer develops some cruft over time: the small app '
                'you installed years ago and forgot about, or a cleaning '
                'utility you downloaded when you wanted to free up some space, '
                'but is still running in the background. Plus, Windows comes '
                'with its own bloatwar…',
 'publishedAt': '2022-04-04T20:30:00Z',
 'source': {'id': None, 'name': 'Lifehacker.com'},
 'title': 'These Windows Apps Are Outdated, Risky, or Scammy',
 'url': 'https://lifehacker.com/these-windows-apps-are-outdated-risky-or-scammy-1848707239',
 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/eabb254cb2c8d17e8ec7375aaf9ef580.jpg'}
{'author': 'Jeff Somers',
 'company': 'Apple',
 'content': 'Watching television used to be a pretty straightforward '
            'experience. At one time, there were roughly seven channels and '
            'you got them by fiddling with an antenna. But the proliferation '
            'of programming p… [+6385 chars]',
 'description': 'Watching television used to be a pretty straightforward '
                'experience. At one time, there were roughly seven channels '
                'and you got them by fiddling with an antenna. But the '
                'proliferation of programming platforms and the advance of '
                'technology has made interacting …',
 'publishedAt': '2022-04-08T15:00:00Z',
 'source': {'id': None, 'name': 'Lifehacker.com'},
 'title': 'Why You Should Buy the Dumbest TV You Can Find',
 'url': 'https://lifehacker.com/why-you-should-buy-the-dumbest-tv-you-can-find-1848768646',
 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/a4e2614d04ab16c6fe589dfc012093ab.jpg'}
{'author': 'Jake Peterson',
 'company': 'Apple',
 'content': 'Back in the 90s, you needed to have powerful hardware to use an '
            'operating system as advanced as, oh,Mac OS 8. Nowadays, you can '
            'run the whole thing in a Chrome tab. Its easy to forget just how '
            'far co… [+2926 chars]',
 'description': 'Back in the ‘90s, you needed to have powerful hardware to use '
                'an operating system as advanced as, oh, Mac OS 8. Nowadays, '
                'you can run the whole thing in a Chrome tab. It’s easy to '
                'forget just how far computers have come in a relatively short '
                'time. In case you…',
 'publishedAt': '2022-04-05T21:00:00Z',
 'source': {'id': None, 'name': 'Lifehacker.com'},
 'title': "Relive the '90s With These Web-Based Mac Emulators",
 'url': 'https://lifehacker.com/relive-the-90s-with-these-web-based-mac-emulators-1848752013',
 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/a1a3b20fcd9de8b462b5d06b662ff4a5.png'}
{'author': 'Allie Chanthorn Reinmann',
 'company': 'Apple',
 'content': 'Baking can be a near-meditative pursuit, the minutes (or hours) '
            'spent in the kitchen mixing and measuring dropping you into a '
            'state of purposeful calm, or serving as a bonding experience when '
            'youre w… [+8843 chars]',
 'description': 'Baking can be a near-meditative pursuit, the minutes (or '
                'hours) spent in the kitchen mixing and measuring dropping you '
                'into a state of purposeful calm, or serving as a bonding '
                'experience when you’re working with others. Baking can also '
                'be a downright tedious …',
 'publishedAt': '2022-04-07T13:30:00Z',
 'source': {'id': None, 'name': 'Lifehacker.com'},
 'title': 'Your Baking Needs More Jam, Actually',
 'url': 'https://lifehacker.com/your-baking-needs-more-jam-actually-1848760165',
 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/c379b69127310148e134a2edc128b542.jpg'}
{'author': 'Jon Fingas',
 'company': 'Apple',
 'content': 'Apple is well-known for doing things in-house whenever possible, '
            'and that might even extend to financial services. '
            'Bloombergsources claim Apple is laying the groundwork for "future '
            'financial services… [+1457 chars]',
 'description': 'Apple is well-known for doing things in-house whenever '
                'possible, and that might even extend to financial services. '
                'Bloombergsources claim Apple is laying the groundwork for '
                '"future financial services" through a multi-year effort that '
                'would bring more financia…',
 'publishedAt': '2022-03-30T19:44:39Z',
 'source': {'id': 'engadget', 'name': 'Engadget'},
 'title': 'Apple reportedly wants to handle more financial services in-house',
 'url': 'https://www.engadget.com/apple-financial-services-lending-credit-checks-194439130.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-images/2019-11/55a56690-0496-11ea-bd9e-d8548107e12e'}
{'author': 'Igor Bonifacic',
 'company': 'Apple',
 'content': 'Following years of litigation, Canadian patent monetization firm '
            'WiLAN has signed a licensing\r\n'
            ' agreement with Apple. With the deal, the two companies have '
            'settled all court cases that were ongoing b… [+1058 chars]',
 'description': 'Following years of litigation, Canadian “patent monetization” '
                'firm WiLAN has signed a licensing\r\n'
                ' agreement with Apple. With the deal, the two companies have '
                'settled all court cases that were ongoing between them in the '
                'US, Canada and Germany related to a ser…',
 'publishedAt': '2022-03-22T19:42:07Z',
 'source': {'id': 'engadget', 'name': 'Engadget'},
 'title': 'Apple settles voice over LTE patent dispute with WiLAN',
 'url': 'https://www.engadget.com/apple-wilan-patent-settlement-194207518.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-uploaded-images/2022-03/ff7dea80-aa15-11ec-a7fd-dddc791b8a8e'}
{'author': 'Steve Dent',
 'company': 'Apple',
 'content': 'Some owners of the new Apple Studio Display are having problems '
            'updating to the latest firmware, MacRumors has reported. After '
            'multiple failed attempts, users are being told by Apple support '
            'to bring… [+937 chars]',
 'description': 'Some owners of the new Apple Studio Display are having '
                'problems updating to the latest firmware, MacRumors has '
                'reported. After multiple failed attempts, users are being '
                'told by Apple support to bring their display in for repair to '
                'an Apple Store or authorized…',
 'publishedAt': '2022-04-11T08:35:54Z',
 'source': {'id': 'engadget', 'name': 'Engadget'},
 'title': 'Apple Studio Display issue leaves some owners unable to update '
          'their firmware',
 'url': 'https://www.engadget.com/apple-studio-display-owners-report-problems-updating-to-the-latest-i-os-firmware-083554849.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-uploaded-images/2022-04/7f826020-b96c-11ec-969b-dec34340ff30'}
{'author': 'Jon Fingas',
 'company': 'Apple',
 'content': "Apple's iPhones and other devices have become increasingly "
            'expensive, and the company may be using alternative sales models '
            'to help soften the blow. Bloombergsources claim Apple is '
            'developing a subsc… [+1011 chars]',
 'description': "Apple's iPhones and other devices have become increasingly "
                'expensive, and the company may be using alternative sales '
                'models to help soften the blow. Bloombergsources claim Apple '
                'is developing a subscription service for the iPhone and other '
                'hardware. Akin to t…',
 'publishedAt': '2022-03-24T17:34:02Z',
 'source': {'id': 'engadget', 'name': 'Engadget'},
 'title': 'Apple is reportedly planning an iPhone hardware subscription '
          'service',
 'url': 'https://www.engadget.com/apple-iphone-hardware-subscription-service-rumor-173402698.html',
 'urlToImage': 'https://s.yimg.com/os/creatr-uploaded-images/2022-03/45453e60-ab97-11ec-bff2-c465f5469a16'}